<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" th:href="@{css/myStyles.css}" href="../../static/css/myStyles.css"/>

    </style>
</head>
<body>
<div class="ms-background">
    <header>
        <div class="logo">
            <div style="width: 400px">
                <p style="font-size: 48px; position: absolute; left: 45px; top: -40px">🍎</p>
                <p style="font-size: 55px; position: absolute; left: 20px; top: -53px">🍌</p>
                <b style="font-family: Veranda,serif; font-size: 14px; position: absolute; left: 105px; top: 30px">STOP</b>
                <b style="font-family: Verdana,serif; font-size: 14px; position: absolute; left: 105px; top: 42px">MADSPLID</b>

            </div>
            <nav class="ms-menu">
                <a href="home">HOME</a>
                <a href="aboutus">ABOUT</a>
                <a href="contact">CONTACT</a>
            </nav>
            <div class="search-bar">
                <form method="#">
                    <input type="text" placeholder="Søg her..." size="20">
                    <input type="button" value="Søg">
                </form>
            </div>
        </div>
</header>
    </div>

<div>

    <div class="ms-content-box">
        <h1 class="title">ABOUT US</h1>


        <div class="ms-content">

            <div class="text">
                Vi er en non-profit orgranisation, der kæmper for at formindske madspild i det danske samfund.
                Vores mål er at formindske mængden af madspild i alle sektorer med 60% inden 2025.
                Vi tager alle sektorer med i vores overvejelser, om hvordan madspild skal bekæmpes.
                Restaurationssektoren er dog vores primære fokus, da de står for en stor del mafspild
                I Danmark smider vi hvert år mere end 700.000 ton mad ud.
                Husholdningernes madspild udgør 260.000 ton. Det svarer til 24 % af affaldet i skraldespanden.
                Hvis du vil være med til at gøre en forskel så kan du kontakte os på TeamBæver@stud.kea.dk
            </div>
            <img class="myImage" th:src="@{/images/madspildsmand.jpeg}" src="../images/Madspildsmand.jpeg">

        </div>
    </div>
</div>
</body>

<footer>

    <div class="footer-content">
        <div>
            youtube - https://www.youtube.com/watch?v=dQw4w9WgXcQ
        </div>
        <div>
            facebook -
        </div>
        <div>
            twitter -
        </div>
        <div>
            instagram -
        </div>
        <div>
            tiktok -
        </div>

        <div class="footer-content-end">
            <p>
                email: teambæver@stud.kea.dk
            </p>

        </div>

    </div>


</footer>
</html>