<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" th:href="@{css/myStyles.css}" href="../../static/css/myStyles.css"/>
    <meta charset="UTF-8">
    <title>Kontakt os!</title>
</head>
<body>



<header>
  <div>
    <nav class="ms-menu">
      <a href="home">HOME</a>
      <a href="aboutus">ABOUT</a>
      <a href="contact">CONTACT</a>
    </nav>
  </div>
</header>

<div style="background-color: white; margin: 50px; border-radius: 10px;padding: 25px">
  <h1 class="title">Kontakt os!</h1>

<div class="text">
<p>
  Vi glæder os til at høre fra dig!
  Hvert år er der fattige mennesker, som ikke har råd til at købe mad. Og mange danskere
  smider en stor del mad ud, som sagtens kunne spises. Det betyder meget for os, andre mennesker og planeten at vi
  skal sætte en stopper for eller formindske madspild så meget som muligt.



</p>
</div>
</div>
</body>
</html>