<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop Madspild!</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../static/css/myStyles.css">
</head>
<body>


<div class="ms-background">

    <header>
        <div class="logo">
            <div class="ms-logo-spacer">
                <p class="ms-logo-apple">🍎</p>
                <p class="ms-logo-banana">🍌</p>
                <p class="ms-logo-text-stop">STOP</p>
                <p class="ms-logo-text-madspild">MADSPLID</p>

            </div>
            <nav class="ms-menu">
                <a href="home">HOME</a>
                <a href="aboutus">ABOUT</a>
                <a href="contact">CONTACT</a>
            </nav>
            <div class="search-bar">
                <form method="#">
                    <input type="text" placeholder="Søg her..." size="20">
                    <input type="button" value="Søg">
                </form>
            </div>

        </div>
    </header>

    <div class="ms-home-image-container">
        <img width="100%" height="100%" th:src="@{/images/forside2.jpg}" src="../images/forside2.jpg">
        <div class="top-left-title-text">
            <p class="ms-home-image-title-text">SAMMEN KAN VI GØRE DET</p>
        </div>
        <div class="top-left-fill-text">
            <p class="ms-home-image-title-text-fill"> Der er alt for meget madspild i nutidags
                samfund og det skal vi sætte en stopper for</p>
        </div>

    </div>
    <div>

        <div class="flexrowing">
            <div class="ms-home-content-box">
                <div class="ms-content-box-title">33%</div>
                <div class="ms-content-box-fill">af alt mad produktion er spildt hvert år</div>
            </div>
            <div class="ms-home-content-box">
                <div class="ms-content-box-title">45%</div>
                <div class="ms-content-box-fill">af productionen, er afgrøder</div>
            </div>
            <div class="ms-home-content-box">
                <div class="ms-content-box-title">$1,800</div>
                <div class="ms-content-box-fill">er den gennemsnitlige kost af mad spild per familie</div>
            </div>

        </div>
    </div>
</div>

</body>


<footer>

    <div class="footer-content">
        <div>
            youtube - https://www.youtube.com/watch?v=dQw4w9WgXcQ
        </div>
        <div>
            facebook -
        </div>
        <div>
            twitter -
        </div>
        <div>
            instagram -
        </div>
        <div>
            tiktok -
        </div>

        <div class="footer-content-end">
            <p>
                email: teambæver@stud.kea.dk
            </p>

        </div>

    </div>


</footer>
</html>