<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop Madspild!</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../static/css/myStyles.css">
</head>
<body>

<div class="ms-background">
    <div>
        <nav class="ms-menu">
            <a href="home">HOME</a>
            <a href="aboutus">ABOUT</a>
        </nav>
    </div>

    <div class="ms-home-image-container">
        <img width="100%" height="100%" th:src="@{/images/forside2.jpg}" src="../images/forside2.jpg">
        <div class="top-left-title-text">
            <p class="ms-home-image-title-text">LOREM IPSUM</p>
        </div>
        <div class="top-left-fill-text">
            <p style="width: 300px" class="ms-home-image-title-text-fill"> lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum </p>
        </div>

    </div>
    <div>

        <div class="flexrowing">
            <div class="ms-home-content-box">
                <div class="ms-content-box-title">33%</div>
                <div class="ms-content-box-fill">af alt mad produktion er spildt hvert år</div>
            </div>
            <div class="ms-home-content-box">
                <div class="ms-content-box-title">45%</div>
                <div class="ms-content-box-fill">af productionen, er afgrøder</div>
            </div>
            <div class="ms-home-content-box">
                <div class="ms-content-box-title">$1,800</div>
                <div class="ms-content-box-fill">er den gennemsnitlige kost af mad spild per familie</div>
            </div>

       </div>
    </div>
</div>

</body>


<footer>

    <div class="footer-content">
        <div>
            youtube - https://www.youtube.com/watch?v=dQw4w9WgXcQ
        </div>
        <div>
            facebook -
        </div>
        <div>
            twitter -
        </div>
        <div>
            instagram -
        </div>
        <div>
            tiktok -
        </div>

        <div class="footer-content-end">
            <p>
                email: teambæver@stud.kea.dk
            </p>

        </div>

    </div>


</footer>
</html>