<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stop Madspild!</title>
    <link rel="stylesheet" th:href="@{/css/myStyles.css}" href="../../static/css/myStyles.css">
<style>
    body {
        background-image: url("static/images/116433646_l.jpeg");
    }

</style>


</head>
<body>

<div class="ms-background">
    <div>
        <nav class="ms-menu">
          <!--  <img th:src="@{images/beaver.jpg}"> -->
            <a href="home">HOME</a>
            <a href="aboutus">ABOUT</a>
        </nav>
    </div>
</div>

</body>
</html>